################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/APIGateway/obj
/MicroService/.vs
/.gitignore
/MicroService/obj
/OrderService/obj
/UserService/obj
